<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.filejournal.mapper.CommitLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO commit_log (file_id, commit_time , message)
        VALUES (#{fileId}, #{commitTime}, #{message})
    </insert>

    <select id="selectAll" resultType="CommitLog">
        SELECT id, file_id, commit_time , message
        FROM commit_log
    </select>

    <select id="selectById" resultType="CommitLog">
        SELECT id, file_id, commit_time , message
        FROM commit_log
        WHERE id = #{id}
    </select>

    <!--5-->
    <select id="selectByFileId" resultType="com.filejournal.model.CommitLog">
        SELECT id, file_id, commit_time, message
        FROM commit_log
        WHERE file_id = #{fileId}
        ORDER BY commit_time DESC
    </select>

    <delete id="deleteById">
        DELETE FROM commit_log WHERE id = #{id}
    </delete>
</mapper>
