<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.filejournal.mapper.WatchedFolderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO watched_folder (folder_path,folder_name, created_at)
        VALUES (#{folderPath}, #{folderName}, #{createdAt})
    </insert>

    <select id="selectAll" resultType="WatchedFolder">
        SELECT id, folder_path, folder_name,created_at
        FROM watched_folder
    </select>

    <select id="selectById" resultType="WatchedFolder">
        SELECT id, folder_path,folder_name, created_at
        FROM watched_folder
        WHERE id = #{id}
    </select>

    <delete id="deleteById">
        DELETE FROM watched_folder WHERE id = #{id}
    </delete>
</mapper>
